body {
  marigin: 0;
  padding: 0;
  background-color: #1d5ea6;
}

.na-login-0 {
  background-color: #1d5ea6;
}

.na-toolbar-0 {
  background-color: #1d5ea6;
  margin-bottom: 10px;
  padding: 6px 8px 5px;
}
